* {
  margin: 0;
  padding: 0;
}

.container {
  min-height:100vh;
  text-align: center;
  display:grid;
  grid-template-columns: minmax(300px, 1fr) minmax(600px, 4fr);
  grid-template-rows: auto 1fr auto;;
  gap:4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #393f4d;
  grid-area: 1 / 1/ 2/4;
  height:100px;
}

.menu ul,
.menu li {
  
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  display: grid;
  justify-content: space-around;
  gap:50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  width:200px;
  
}
.nav-container{
  margin:0;
  padding:0;
  display:grid;
  gap:4px;
  
}
.nav {
  background-color: #C50208;

}

.nav ul li {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;

}

.article {
  background-color: #bccbde;
  display:grid;
  gap:4px;
  grid-template-columns: repeat(3, 1fr);
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  display:grid;

}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 4 / 4
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}